@model MvcApplication_PMIEnglishSite.Models.feedback_en

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>feedback_en</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.createTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.createTime)
            @Html.ValidationMessageFor(model => model.createTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mainContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mainContent)
            @Html.ValidationMessageFor(model => model.mainContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cname)
            @Html.ValidationMessageFor(model => model.cname)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
