@model IEnumerable<MvcApplication_PMIEnglishSite.Models.feedback_en>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

@*<p class="btnAddNew">
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="tblist">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id })|
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div class="changewhere">
    <h5><span>Helper</span>you can view the details of the feedback here, and delete some one.</h5>
    <p>If you want to contact the questioner,you can use email,phones or other ways to do that.</p>
    <p>All the data above come from here.</p>
    <img src="~/Images/helper/feedbackhelper.jpg" alt="helper" />
</div>