@model MvcApplication_PMIEnglishSite.Models.product_en

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>product_en</legend>
        <div class="editor-field">
            @Html.HiddenFor(model => model.productID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.productName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.productName)
            @Html.ValidationMessageFor(model => model.productName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.categoryID, "productCategory_en")
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.categoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publicTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publicTime)
            @Html.ValidationMessageFor(model => model.publicTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.readCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.readCount)
            @Html.ValidationMessageFor(model => model.readCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contentText)
        </div>
        <div class="editor-field">
            <!--下面替换为TextArea-->
            @Html.TextAreaFor(model => model.contentText)
            @Html.ValidationMessageFor(model => model.contentText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mainPhoto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mainPhoto)
            @Html.ValidationMessageFor(model => model.mainPhoto)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<!--load after DOM finished-->
<script>
    var ue = UE.getEditor('contentText');
</script>