@model MvcApplication_PMIEnglishSite.Models.productCategory_en

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>productCategory_en</legend>
    <div class="display-field">
        @Html.HiddenFor(model => model.categoryID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.categoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoryName)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
