@model IEnumerable<MvcApplication_PMIEnglishSite.Models.productCategory_en>

@{
    ViewBag.Title = "CategoryEditing";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.Title </h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="tblist">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
            @Html.HiddenFor(modelItem => item.categoryID)
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.categoryID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.categoryID })*@
        </td>
    </tr>
}

</table>
<p style="margin-top:20px;">*If add more categories, the layout of the website must be changed a lot.</p>
<p>*if you insist,contact xs.zhou,and let him do it for you.</p>
<p>*delete the category, it will delete all the products belongs to it. so the delete functiion has been disabled.</p>
<div class="changewhere">
    <h5><span>Helper</span>Your edit will change these places as followings on the webpages:</h5>
    <img src="~/Images/helper/categoryshow.jpg" alt="helper" />
    <img src="~/Images/helper/categoryshow2.jpg" alt="helper" />
</div>