@model MvcApplication_CDPMI.Models.feedback

@{
    ViewBag.Title = "反馈信息查看";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="tableallborder">
    <tr>
        <td>@Html.DisplayNameFor(model => model.title)</td>
        <td>@Html.DisplayFor(model => model.title)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.createTime)</td>
        <td>@Html.DisplayFor(model => model.createTime)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.cname)</td>
        <td>@Html.DisplayFor(model => model.cname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.phone)</td>
        <td>@Html.DisplayFor(model => model.phone)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.email)</td>
        <td>@Html.DisplayFor(model => model.email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.mainContent)</td>
        <td>@Html.DisplayFor(model => model.mainContent)</td>
    </tr>
</table>
<p id="feedbacklink">
    @Html.ActionLink("返回列表", "Index")
</p>
