@model MvcApplication_CDPMI.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.productName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.productName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.productCategory.categoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.productCategory.categoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.publicTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publicTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.readCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.readCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contentText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contentText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mainPhoto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mainPhoto)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.productID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
