@model IEnumerable<MvcApplication_CDPMI.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p id="feedbacklink">
    @Html.ActionLink("新建", "Create")
</p>
<table class="table100">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productCategory.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.readCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="trunderline">
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productCategory.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicTime)
            </td>
            <td class="tdcenter">
                @Html.DisplayFor(modelItem => item.readCount)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.productID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.productID })
            </td>
        </tr>
    }

</table>
