@model MvcApplication_CDPMI.Models.news

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>news</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.newsTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.newsTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.publishTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publishTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.readCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.readCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contentText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contentText)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.newsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
