@model IEnumerable<MvcApplication_CDPMI.Models.news>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p id="feedbacklink">
    @Html.ActionLink("新建", "Create")
</p>
<table class="table100">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.newsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.readCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="trunderline">
        <td>
            @Html.DisplayFor(modelItem => item.newsTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishTime)
        </td>
        <td class="tdcenter">
            @Html.DisplayFor(modelItem => item.readCount)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.newsID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.newsID })
        </td>
    </tr>
}

</table>
