@{
    //ViewBag.Title = "About";
}

<div class="float-left">
    <div class="left-menu">
        <h5>关于我们</h5>
        <ul>
            <li>@Html.ActionLink("公司简介", "About", "Home", new { id = 1 }, null)</li>
            <li>@Html.ActionLink("主要产品", "About", "Home", new { id = 5 }, null)</li>
            <li>@Html.ActionLink("荣誉资质", "About", "Home", new { id = 3 }, null)</li>
            <li>@Html.ActionLink("技术专家", "About", "Home", new { id = 2 }, null)</li>
            <li>@Html.ActionLink("发展历程", "About", "Home", new { id = 4 }, null)</li>
        </ul>
    </div>
    <div class="left-menu">
        <h5>相关信息</h5>
        <ul>
            <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
            <li>@Html.ActionLink("在线留言", "FeedBack", "Home")</li>
        </ul>
    </div>
</div>
<div class="float-left right-content">
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.Raw(ViewBag.About)
    </p>
</div>