@model MvcApplication_CDPMI.Models.basicSetting
@{
    ViewBag.Title = "GetContactsView";
}

<p>
    公司名称： @Html.DisplayFor(o => o.CompanyName)
</p>
<p>
    联 系 人： @Html.DisplayFor(o => o.Contact)
</p>
<p>
    电子邮件： @Html.DisplayFor(o => o.Email)
</p>
<p>
    电话号码： @Html.DisplayFor(o => o.Phone)
</p>
<p>
    传真号码： @Html.DisplayFor(o => o.Fax)
</p>
<p>
    公司地址： @Html.DisplayFor(o => o.Address)
</p>
<p>
    邮政编码： @Html.DisplayFor(o => o.PostCode)
</p>