@model  IEnumerable<MvcApplication_CDPMI.Models.news>
@{
    //ViewBag.Title = "News";
}
@section AddToHead{
    <link href="~/Content/news.css" rel="stylesheet" type="text/css" />
}
<div class="float-left">
    <div class="left-menu">
        <h5>相关信息</h5>
        <ul>
            <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
            <li>@Html.ActionLink("在线留言", "FeedBack", "Home")</li>
        </ul>
    </div>
</div>
<div class="float-left right-content">
    <h2>@ViewBag.Title</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a class="newitemlink" href="/Home/NewsDetails/@Html.DisplayFor(o=>item.newsID)">
                    @Html.DisplayFor(o => item.newsTitle) [阅读次数:@Html.DisplayFor(o => item.readCount)]<span>@Html.DisplayFor(o => item.publishTime)</span>
                </a>
            </li>
        }
    </ul>
</div>
