@model MvcApplication_CDPMI.Models.news
@{
    //ViewBag.Title = "NewsDetails";
}

<div class="float-left">
    <div class="left-menu">
        <h5>相关信息</h5>
        <ul>
            <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
            <li>@Html.ActionLink("在线留言", "FeedBack", "Home")</li>
        </ul>
    </div>
</div>
<div class="float-left right-content">
    <h2>@Html.DisplayFor(o => Model.newsTitle)</h2>
    <p>
        发布时间:<span class="time">@Html.DisplayFor(o => o.publishTime)</span>   
        阅读次数:<span class="readcount">@Html.DisplayFor(o => o.readCount)</span>次
    </p>
    <hr />
    <div class="content">
        @Html.Raw(Model.contentText)
    </div>
    <p id="feedbacklink">
        @Html.ActionLink("返回行业动态列表", "News", "Home")
    </p>
</div>
