@model MvcApplication_CDPMI.Models.product

@{
    ViewBag.Title = "产品详细信息";
}

<div class="float-left">
    <div class="left-menu">
        <h5>产品种类</h5>
        @* 调用部分视图，显示产品种类 *@
        @Html.Action("GetAllProductCategory")
    </div>
    <div class="left-menu">
        <h5>相关信息</h5>
        <ul>
            <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
            <li>@Html.ActionLink("在线留言", "FeedBack", "Home")</li>
        </ul>
    </div>
</div>
<div class="right-content">
    <h2>@Html.DisplayFor(o => o.productName)</h2>
    <p>
        发布日期：<span class="time">@Html.DisplayFor(o => o.publicTime)</span>
        阅读次数： <span class="readcount">@Html.DisplayFor(o => o.readCount)</span> 次
    </p>
    <hr />
    <div class="content">
        @Html.Raw(Model.contentText)
    </div>
    <p style="color:orange">
        ！！敬请注意：网页当中提供的数据和图片仅供参考，公司可根据具体客户要求量身定做。
    </p>
    <p id="feedbacklink">
        @Html.ActionLink("返回产品列表", "Product", "Home", new { id = 0 }, null)
    </p>
</div>