@model IEnumerable<MvcApplication_CDPMI.Models.service>
@{
    //ViewBag.Title = "Service";
}
<div class="float-left">
    <div class="left-menu">
        <h5>相关信息</h5>
        <ul>
            <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
            <li>@Html.ActionLink("在线留言", "FeedBack", "Home")</li>
        </ul>
    </div>
</div>
<div class="float-left right-content">
    <h2>@ViewBag.Title</h2>
    <p>
        <table style="width:100%">
            @foreach (var item in Model)
            {
                <tr style="border-bottom:1px dashed #333">
                    <td>
                        <img src="~/Images/services/@Html.DisplayFor(o=>item.servicePicture)" width="230" height="200" />
                    </td>
                    <td style="vertical-align:top">
                        <b style="font-size:14px">@Html.DisplayFor(o=>item.serviceName)</b><br/>
                        @Html.DisplayFor(o=>item.serviceContent)
                    </td>
                </tr>
            }
        </table>
    </p>
</div>