@model MvcApplication_PMIEnglishSite.Models.basicSetting_en

@{
    //ViewBag.Title = "Contact";
}
@section AddToHead{
    <link href="~/Content/maindisplay.css" rel="stylesheet" type="text/css" />
    <style>
        #maindisplayarea table {
            font-size: 150%;
        }

            #maindisplayarea table .tdtitle {
                width:200px;               
            }
            #maindisplayarea table .tdcontent{
                color: blue;
            }
    </style>
}
<h2>@ViewBag.Title</h2>

<div id="maindisplayarea">
    <table>
        <tr>
            <td class="tdtitle">@Html.DisplayNameFor(o => o.CompanyName):</td>
            <td class="tdcontent">@Html.DisplayFor(o => o.CompanyName)</td>
        </tr>
        <tr>
            <td class="tdtitle">@Html.DisplayNameFor(o => o.Contact):</td>
            <td class="tdcontent">@Html.DisplayFor(o => o.Contact)</td>
        </tr>
        <tr>
            <td class="tdtitle">@Html.DisplayNameFor(o => o.Email):</td>
            <td class="tdcontent">@Html.DisplayFor(o => o.Email)</td>
        </tr>
        <tr>
            <td class="tdtitle">@Html.DisplayNameFor(o => o.Phone):</td>
            <td class="tdcontent">@Html.DisplayFor(o => o.Phone)</td>
        </tr>
        <tr>
            <td class="tdtitle">@Html.DisplayNameFor(o => o.Fax):</td>
            <td class="tdcontent">@Html.DisplayFor(o => o.Fax)</td>
        </tr>
        <tr>
            <td class="tdtitle">@Html.DisplayNameFor(o => o.Address):</td>
            <td class="tdcontent">@Html.DisplayFor(o => o.Address)</td>
        </tr>
    </table>
</div>
<a href="~/Home/Feedback" class="btnreturn" style="font-size:22px;font-weight:bold">Feedback Online</a>