@model MvcApplication_PMIEnglishSite.Models.HomeIndexData
@{
    ViewBag.Title = ViewBag.WebsiteTitle;
}
@section AddToHead{
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/js/slide.js"></script>
    <script src="~/Scripts/js/homeindex.js"></script>
}
@section Slide{
    <!--slide part-->
    <div id="mainslide">
        <ul id="slide">
            @foreach (var item in Model.flashlist)
            {
                <li><img src="~/Images/pmi/@item.picture" alt="@item.picture" /><p>@item.memo</p></li>
            }
        </ul>
        <ul id="slidenav">
            @for (int i = 0; i < Model.flashlist.Count; i++)
            {
                if (i == 0)
                {
                    <li class="selected">1</li>
                }
                else
                {
                    <li>@(i + 1)</li>
                }
            }
        </ul>
    </div>
}
<!--about PMI section-->
<div class="textbox">
    <h1>About PMI</h1>
    <p>
        <!--no encode and raw it-->
        @Html.Raw(ViewBag.AboutPMI)
    </p>
</div>
<!--category section-->
<div id="pcategorylist">
    @foreach (var item in Model.pclist)
    {
        <!--if the item is the last one ,set class clear margin-->
        string s = "";
        if (item.categoryID == 16)
        {
            s = "clearmargin";
        }
        <div class="pcategory floatleft @s">
            <img src="~/Images/pmi/@item.photo" alt="@item.categoryName" />
            <h3>@item.categoryName</h3>
            <p>@item.memo</p>
            <a href="~/Home/Product/@item.categoryID">More About it</a>
        </div>
    }
</div>
