@model IList<MvcApplication_PMIEnglishSite.Models.productCategory_en>
@{
    ViewBag.Title = ViewBag.WebsiteTitle;
}
@section AddToHead{
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/js/slide.js"></script>
}
@section Slide{
    <!--slide part-->
    <div id="mainslide">
        <ul id="slide">
            <li><img src="~/Images/pmi/slider1.jpg" alt="slide1" /></li>
            <li><img src="~/Images/pmi/slider2.jpg" alt="slide2" /></li>
            <li><img src="~/Images/pmi/slider3.jpg" alt="slide3" /></li>
            <li><img src="~/Images/pmi/slider4.jpg" alt="slide4" /></li>
            <li><img src="~/Images/pmi/slider5.jpg" alt="slide5" /></li>
            <li><img src="~/Images/pmi/slider6.jpg" alt="slide6" /></li>
        </ul>
        <ul id="slidenav">
            <li class="selected">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
}
<!--about PMI section-->
<div class="textbox">
    <h1>About PMI</h1>
    <p>
        <!--no encode and raw it-->
        @Html.Raw(ViewBag.AboutPMI)
    </p>
</div>
<!--category section-->
<div id="pcategorylist">
    @foreach (var item in Model)
    {
        <!--if the item is the last one ,set class clear margin-->
        string s = "";
        if (item.categoryID==16)
        {
            s = "clearmargin";
        }
        <div class="pcategory floatleft @s">
            <img src="~/Images/pmi/@item.photo" alt="@item.categoryName" />
            <h3>@item.categoryName</h3>
            <p>@item.memo</p>
            <a href="~/Home/Product/@item.categoryID">More About it</a>
        </div>
    }
</div>
