@model MvcApplication_PMIEnglishSite.Models.flash_en

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>flash_en</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.picture)
            @Html.ValidationMessageFor(model => model.picture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.memo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.memo)
            @Html.ValidationMessageFor(model => model.memo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
