@model MvcApplication_PMIEnglishSite.Models.flash_en

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>flash_en</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.picture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.picture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.memo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.memo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
