@{
    ViewBag.Title = "管理界面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{

}
<div class="float-left">
    <div class="left-menu">
        @* 以下是管理界面的菜单 *@
        <h5>系统管理</h5>
        <ul>
            <li>@Html.ActionLink("基本信息", "Basic", "Admin")</li>
            <li>@Html.ActionLink("产品编辑", "About", "Home")</li>
            <li>@Html.ActionLink("服务编辑", "About", "Home")</li>
            <li>@Html.ActionLink("新闻编辑", "About", "Home")</li>
            <li>@Html.ActionLink("留言处理", "About", "Home")</li>
        </ul>
    </div>
    <div class="left-menu">
        <h5>其他</h5>
        <ul>
            <li>@Html.ActionLink("退出登录", "LogOffGet", "Account")</li>
        </ul>
    </div>
</div>
<div class="float-left right-content">
    @* 这里处理每个编辑页面的渲染 *@
    @RenderBody()
</div>
