@model IEnumerable<MvcApplication_CDPMI.Models.productCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table style="width:300px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="trunderline">
                @Html.HiddenFor(modelItem => item.categoryID)
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.categoryID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.categoryID })
            </td>
        </tr>
    }

</table>
