<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Designed By XS.Zhou-->
    <!--newlifechou@outlook.com-->
    <!--2014-10 For Pioneer Materials Inc-->
    <link href="~/Images/pmi/icon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    <!--去掉本地的modernizr-->
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="//upcdn.b0.upaiyun.com/libs/modernizr/modernizr-2.6.2.min.js"></script>*@
    <!--去掉本地的jquery，改用百度cdn，百度太慢改回来-->
    @Scripts.Render("~/bundles/jquery")
    @*<script src="http://libs.baidu.com/jquery/1.8.2/jquery.min.js"></script>*@
    @*<script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-1.8.2.min.js"></script>*@


    <!--add extra css and js here-->
    @RenderSection("AddToHead", required: false)
</head>
<body>
    <!--header part-->
    <div id="header">
        <a href="~/Home/Index" id="logo">
            <img src="~/Images/pmi/logo.png" alt="PMI" />
        </a>
        <div id="nav">
            <div id="leftmenu">
                <ul>
                    <li class="one"><a href="~/Home/Index">Home</a></li>
                    <li class="two">
                        <a href="#">Products&amp;Services</a>
                        <ul>
                            <li><a href="~/Home/Product/0">Products</a></li>
                            <li><a href="~/Home/Service">Services</a></li>
                            <li><a href="~/Home/About/9">Quality Assurance</a></li>
                        </ul>
                    </li>
                    <li class="three">
                        <a href="#">About PMI</a>
                        <ul>
                            <li><a href="~/Home/About/7">Introduction</a></li>
                            <li><a href="~/Home/About/2">Management&amp;Tech-Consultants</a></li>
                            <li><a href="~/Home/About/6">Board of Director</a></li>
                            <li><a href="~/Home/About/4">Company History</a></li>
                            <li><a href="~/Home/About/3">Certificates</a></li>
                            <li><a href="~/Home/Contact">Contact Us</a></li>
                            <li><a href="~/Home/Feedback">Feedback Online</a></li>
                        </ul>
                    </li>
                    <li class="four"><a href="~/Home/Contact">Contact Us</a></li>
                </ul>
            </div>
            <div id="rightmenu">
                <input type="text" name="txtsearch" placeholder="Enter the keywords" />
                <input type="button" name="btnSearch" value="Search" />
                <a href="http://www.cd-pmi.com" target="_blank">中文</a>
            </div>
        </div>
    </div>
    <!--maincontent-->
    <div id="maincontent">
        <!--this is kept for the slide-->
        @RenderSection("Slide", required: false)
        <div id="mainbody">
            @RenderBody()
        </div>
    </div>
    <!--footer-->
    <div id="footer">
            <div id="leftfooter">
                <ul>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/About/7">About</a></li>
                    <li><a href="~/Home/Product/0">Products</a></li>
                    <li><a href="~/Home/Service">Services</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                    <li><a href="~/Home/Feedback">Feedback Online</a></li>
                </ul>
            </div>
            <div id="rightfooter">
                &copy;2012-@DateTime.Now.Year Pioneer Materials, Inc. All Rights Reserved. <a href="~/Account/Login">Login</a>
            </div>
    </div>
    <!--这里再加载jquery脚本-->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
