<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/pmi/icon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!--add extra css and js here-->
    @RenderSection("AddToHead", required: false)
</head>
<body>
    <!--header part-->
    <div id="header">
        <a href="~/Home/Index" id="logo">
            <img src="~/Images/pmi/logo.png" alt="PMI" />
        </a>
        <div id="nav">
            <div id="leftmenu">
                <ul>
                    <li class="one"><a href="~/Home/Index">Home</a></li>
                    <li class="two">
                        <a href="#">Products&ampServices</a>
                        <ul>
                            <li><a href="~/Home/Product/0">Products</a></li>
                            <li><a href="~/Home/Service">Services</a></li>
                        </ul>
                    </li>
                    <li class="three">
                        <a href="#">About PMI</a>
                        <ul>
                            <li><a href="~/Home/About/7">Introduction</a></li>
                            <li><a href="~/Home/About/2">Management&ampTech-Consultants</a></li>
                            <li><a href="~/Home/About/6">Board of Director</a></li>
                            <li><a href="~/Home/About/4">Company History</a></li>
                            <li><a href="~/Home/About/3">Certificate</a></li>
                            <li><a href="~/Home/Contact">Contact Us</a></li>
                            <li><a href="~/Home/Feedback">Feedback Online</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="rightmenu">
                <input type="text" name="txtsearch" placeholder="Enter the keywords" />
                <input type="button" name="btnSearch" value="Search" />
                <a href="http://www.cd-pmi.com" target="_blank">中文</a>
            </div>
        </div>
    </div>
    <!--maincontent-->
    <div id="maincontent">
        <!--this is kept for the slide-->
        @RenderSection("Slide", required: false)
        <div id="mainbody">
            @RenderBody()
        </div>
    </div>
    <!--footer-->
    <div id="footer">
            <div id="leftfooter">
                <ul>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/About/7">About</a></li>
                    <li><a href="~/Home/Product/0">Products</a></li>
                    <li><a href="~/Home/Service">Services</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                    <li><a href="~/Home/Feedback">Feedback Online</a></li>
                </ul>
            </div>
            <div id="rightfooter">
                &copy;2012-@DateTime.Now.Year Pioneer Materials, Inc. All Rights Reserved. <a href="#">Login</a>
            </div>
    </div>
    <!--这里再加载jquery脚本-->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
