@model MvcApplication_PMIEnglishSite.Models.basicSetting_en

@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.Title</h2>
<p class="warnningmsg" style="margin:60px 20px;">
    <span>Important Reading</span> :There are lot of content in this part. You'd better edit your document in a txt editor(such as word or notepad) on your computer, and copy it to this web editor,
    ,just in case of the web is accidentally offline or some strange problem occurs, that may cause data lost. Don't forget click Save button When you finish small part of the area.That will help you to avoid  big loss.
    And you'd better press the image before upload it, because the storage of the website is limited and it is also good for the user to get it though the Internet faster enough.
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>basicSetting_en</legend>

        @Html.HiddenFor(model => model.id)
        <div class="editor-label">
            @Html.LabelFor(model => model.BriefIntrodction)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.BriefIntrodction)
            @Html.ValidationMessageFor(model => model.BriefIntrodction)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    var ue = UE.getEditor('BriefIntrodction');
</script>